<div class="container">
  <div>Cadastro cartão de crédito</div>
  <div>
    <form (ngSubmit)="cadastro(myform)" class="form">
      <div class="form-group">
        <select class="form-control">
          <option>Selecione a bandeira</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label></label>
        <input type="numero" class="form-control" id="" placeholder="Número do cartão">
      </div>
      <div class="form-group">
        <label></label>
        <input type="numero" class="form-control" id="" placeholder="Validade (mm/aaaa)">
      </div>
      <div class="form-group">
        <label></label>
        <input type="numero" class="form-control" id="" placeholder="Código de segurança">
      </div>
      <div class="form-group">
        <label></label>
        <input type="numero" class="form-control" id="" placeholder="CEP">
      </div>


      <div class="form-field">
        <button type="button" class="" data-dismiss="modal" (click)="hide()">Cadastrar</button>
      </div>
    </form>
  </div>
</div>